*.dll
*.exe
*.o
*.so
cmake-build-debug 
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.log
.DS_Store
.DS_Store?
.Trashes
*.gcda
src/cinnamon
libCinnamon.a
.idea/
/cinnamon_test
.bash_history
.bash_logout
.bashrc_old
.cache/
.gitconfig
.profile
.ssh/
.sudo_as_admin_successful
/auriga_root/
/syzygy/
